body,
html {
  background-color: #fdfdfd;
  font-family: Poppins, sans-serif;
}
main {
  padding: 50px 20%;
}
p {
  margin: 20px 0;
}
h1 {
  margin-bottom: 0;
}
summary {
  outline: none;
}
input:not([type="radio"]) {
  padding: 5px;
  margin: 5px;
  width: 100%;
}
button {
  padding: 5px 15px;
  margin: 20px auto;
  display: block;
  background-color: white;
}
pre {
  background-color: #1d1e22;
  color: rgb(196, 196, 196);
  padding: 10px 5px;
  margin: 20px 0;
  overflow-x: auto;
}
.nav-link {
  margin: 0 15px 0 0;
}
hr {
  margin: 20px 10px;
}
@media screen and (max-width: 1200px) {
  main {
    padding: 50px 10%;
  }
}
